node_modules/
**/node_modules/

dist/
backend/dist/
frontend/dist/

.env
.env.*
**/.env
**/.env.*

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
logs/

coverage/
.nyc_output/

.vscode/
.idea/

.cache/
**/.cache/
.eslintcache
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

**/.vite/

backend/backend-local-sa.json

